@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "CaskaydiaMono Nerd Font";
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

/* --- Animations --- */
@keyframes blink {
  to {
    color: @background;
  }
}
@keyframes blink2 {
  to {
    background-color: #fb4934;
  }
}

/* --- Battery states --- */
#battery.warning:not(.charging) {
  animation: blink 0.5s steps(12) infinite alternate;
  border-radius: 12px;
  padding: 0 10px;
  border: 2px solid #fabd2f;
  color: #fabd2f;
}

#battery.critical:not(.charging) {
  animation: blink2 0.5s steps(12) infinite alternate;
  border-radius: 12px;
  padding: 0 10px;
}

#battery.full.charging {
  color: #00b000;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 2px;
  border: 1px solid #d4bd99; /* orange color */
  border-radius: 5px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 5px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 5px;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}
