@import "colors.css";


* {
    font-family: "CaskaydiaCoveNerdFont-Regular.ttf";
    font-size: 13px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    background-color: @crust;
    color: @overlay0;
    transition-property: background-color;
    transition-duration: 0.1s;
    border-bottom: 1px solid @overlay1;
}

#window {
    margin: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: @oldRed;
}

#workspaces button {
    padding: 0 4px;
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.3);
    color: @oldRed;
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.3);
    color: @blue;
    /* border-top: 2px solid @blue; */
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#wireplumber,
#custom-media,
#tray,
#network,
#mode,
#custom-power,
#scratchpad {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

#clock {
    color: @blue;
}

#clock.date {
    color: @blue;
}

#pulseaudio {
    color: @blue;
}

#battery {
    color: @blue;
}

#battery.warning {
    color: @crust;
    background: orange;
}

#battery.critical {
    color: @crust;
    background: @red;
}

#language {
    color: @blue;
    min-width: 15px;
}

#custom-power {
    color: @blue;
}

#temperature,
#cpu,
#memory {
    color: @blue;
}

#temperature.critical {
    color: @crust;
    background: @red;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}
